/*
COLOR PALETTE
#6A5ACD - SLATEBLUE
#F5F5F5 - WHITESMOKE
#6495ED - CORNFLOWERBLUE
#696969 - DIMGREY
#2F4F4F - DARKSLATEGRAY
#343434 - dark grey
#191970 - MIDNIGHTBLUE
 */

/* Global styles
--------------------------------------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #2F4F4F;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.58;
}

@media screen and (max-width:786px) {
  h1 {
    font-size: 60px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h1, h2 {
    line-height: 1;
  }
  img {
    margin: 15px;
    vertical-align: middle;

  }
}

@media screen and (max-width:786px){
  .project-item img {
    text-align: center;
    width: 270px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
  }
}

img {
  width:400px;
}

img.rounded-corners {
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.float-container {
    border: 3px;
    padding: 20px;
}

.float-child1 {
    width: 50%;
    float: left;
    padding: 20px;
}

.float-child2 {
    width: 50%;
    float: right;
    padding: 20px 20px 20px 70px;
}

.float-child3 {
    width: 50%;
    float: right;
    padding: 18px 20px 0 70px;
}

.float-child3 p {
  margin: 15px 0 0 0;
}

.content-wrap {
  max-width: 850px;
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
}

.content-wrap-header {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* padding: 50px 60px; */
}

/* Profile
---------------------------------------- */


header {
      width: 100%;
      height: 100vh;
      background: url(../images/Black_HDW.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 9999;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      /* background: #000000 */
}

nav.black ul {
      background: #000000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 1024px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background-color: #000000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

.circular--square {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}


.center-text {
  left: 0;
  position: absolute;
  text-align: center;
  top: 18%;
  width: 100%;
  color: white;
  font-size: 30px;
}

.center-text #id-name {
  font-size: 70px;
  line-height: 1em;
}

.center-text #job-roles {
  font-family: 'Caveat', cursive;
  font-size: 50px;
  line-height: 17px;
}

@media(max-width: 786px) {

  .circular--square {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }

  .center-text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 18%;
    width: 100%;
    color: white;
    font-size: 20px;
  }

  .center-text #id-name {
    font-size: 40px;
  }

  .center-text #job-roles {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    line-height: 1.5em;
  }
}

.social-icons-header a {
  color:#fff;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
}

/* pop-up text */

.social-icons-header a span {
  color:#000000;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  visibility:hidden;
  opacity:0;
}

/* pop-up text arrow */

.social-icons-header a span:before {
  content:'';
  width: 0;
  height: 0;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

.social-icons-header a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons */

.social-icons-header a:nth-of-type(1):before {
content:'\f08c';
}
.social-icons-header a:nth-of-type(2):before {
content:'\f092';
}
.social-icons-header a:nth-of-type(3):before {
content:'\f003';
}


h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

.item-details h3 {
  margin-bottom: 0;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  margin: 0;
}

.image-blurred-edge {
  background-image: url(../images/ahmad_log.jpg);
  float: right;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
  width: 300px;
  height: 300px;
}

.rounded-corners-right {
  border-radius: 20px;
  float: right;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

/* Projects
---------------------------------------- */

#projects01 {

}
.projects {
  background: #FFFAFA;
}
.projects a {
  color: #2F3061;
}
.projects .btn {
  color: #F7FFF7;
  background: #2F3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 5px 5px 10px black;
  float: right;
  margin-right: 12px;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}

.project-item {
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.project-item img {
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  box-shadow: 0 3px 9px 0 rgba(33, 33, 33, 11);
}
.project-item h3 {
  margin-top: 0;
}

#no-border {
  border-bottom: none;
}

.bouton, .bouton:disabled, .bouton:disabled:hover {
    background: #645E9D;
    color: white !important;
    -webkit-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    z-index: 0;
    position: relative;
    float: right;
    padding: 12px 28px !important;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}
.bouton {
  color: white;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.bouton:hover {
  background: #96E6B3;
  color: white;
    margin-top: -6px !important;
    margin-bottom: 10px !important;
    -webkit-box-shadow: 0 21px 6px -12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 21px 6px -12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 21px 6px -12px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

@media screen and (max-width:836px){
  .project-item img {
    text-align: center;
    width: 95% !important;
    margin-bottom: 30px;
  }
  .content-wrap {
    width: 90% !important;
  }
}

@media (max-width:350px){
  .content-wrap {
    width: 95% !important;
  }
}

/* Education
---------------------------------------- */
.education {
  background-color: #f5bb02;
  background-image: url(../images/education-pencils.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}

.education p {
  width: 60%;
}

/* Footer
-------------------------------------------*/
#contact-me {

}

.footer-pad {
  background: #696969;
  color: #F5F5F5;
  padding: 20px;
  /* align: center; */
}


.footer-pad h2 {
  padding: 0 0 20px 0;
}

.footer-pad a {
  color: #F7FFF7;
  background: #2F3061;
  text-decoration: none;
  margin: 8px;
  border: 8px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px black;
}

.footer-pad a:hover {
  background: rgba(0,0,0,80%)
}
